---
import BaseLayout from '../layouts/BaseLayout.astro';

const identity = {
	username: "catboybinary",
	planet: "Earth",
	occupation: "Game developer",
	hobbies: ["programming", "moosic"]
}

const skills = ["HTML", "CSS", "JS", "GDScript", "Python", "Java", "C# (abandoned)", "TypeScript (learning)"]
---
<BaseLayout title="About Me">
	<p>something something skibi toilet</p>
	<p>Here are a few facts about me:</p>
	<ul>
	<li>My name is {identity.username}.</li>
	<li>I live at {identity.planet} and I work as a {identity.occupation}.</li>
	{identity.hobbies.length >= 2 &&
		<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
	}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>


